dist
node_modules
.env
utils.*
.DS_Store
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/src/index.html
coverage/lcov-report/src/index.ts.html
coverage/lcov-report/src/v9-actions.ts.html
coverage/lcov-report/src/v9-cache.ts.html
coverage/lcov-report/src/v9-colors.ts.html
coverage/lcov-report/src/v9.ts.html
coverage/lcov-report/src/utils/capitalizefirstletter.ts.html
coverage/lcov-report/src/utils/convertplural.ts.html
coverage/lcov-report/src/utils/deepcopy.ts.html
coverage/lcov-report/src/utils/deepmerge.ts.html
coverage/lcov-report/src/utils/env.ts.html
coverage/lcov-report/src/utils/getUrl.ts.html
coverage/lcov-report/src/utils/index.html
coverage/lcov-report/src/utils/index.ts.html
coverage/lcov-report/src/utils/replacetempid.ts.html
coverage/lcov-report/src/utils/validatetoken.ts.html
coverage/lcov-report/src/utils/findObject.ts.html
coverage/lcov-report/src/utils/findobjectinstate.ts.html
.vscode
package-lock.json